
.artigo_blog {
    width: 90%;
    float: right;
}

.img_artigo_blog img {
    display: flex;
    justify-content: center ;
    width: 90%;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.info_artigo {
    margin-top: 2em;
}

.info_artigo h2 {
    text-transform: uppercase;
    color:  #753602;
}

.info_artigo p {
    color:rgb(232, 134, 6);
    font-weight: 500;
    margin-top: 0.5em;
}

.tags {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
}

.tags button {
    background-color: #fff;
    border: 1px solid #ffba44;
    border-radius: 20px;
    padding: 0.75vh 2vh;
    text-transform: uppercase;
    color:rgb(232, 134, 6);
    font-weight: 600;
    margin-right: 0.2em;
}

.tags button:hover {
    background-color: #ffba44;
    border: none;
    color:#fff;
    transition: 0.5s;
}

.muitotexto {
    margin-top: 1em;
    margin-right: 2em;
}

.muitotexto p {
    font-size: 16px;
    line-height: 150%;
}
