/* ESCOLHA */
.gallery-filter {
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.gallery-filter .filter-item {
    color: var(--cor3);
    font-size: 18px;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    line-height: 1.2;
    transition: all 0.3s ease;
}
.gallery-filter .filter-item.active {
    border-color: var(--cor2);
}

.gallery .gallery-item {
    width: calc(100% / 3);
    padding: 15px;
}

.gallery .card.hide {
    display: none;
}

/* GRID */
section {
    position: relative;
    width: 100%;
    min-height: 80vh;
    flex: 1;
    padding-bottom: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4vh 10vh;
}
.gallery {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2vh; 
    padding: 5vh;
    width: 100%;
}
/* IMAGEM */
.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 100%;
    max-width: 300px; 
    text-align: center;
}
.card img {
    width: 100%;
    height: auto;
    display: block;
}
.card-content {
    padding: 15px;
}
.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: var(--cor2);
}
.card-location {
    font-size: 0.9rem;
    color: #222;
}

/* RESPONSIVIDADE DO GRID */
@media (max-width: 300px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    section {
        padding: 4vh 0;
    } 
}
@media (min-width: 300px) and (max-width: 600px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
    }
    section {
        padding: 4vh 2vh;
    } 
}
@media (min-width: 600px) and (max-width: 900px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
    section {
        padding: 4vh 5vh;
    } 
}
@media (min-width: 900px) and (max-width: 1440px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
    section {
        padding: 4vh 10vh;
    }   
}
@media (min-width: 1440px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
    }
    section {
        padding: 4vh 30vh;
    }
}
